<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="es.fmm.hiui"
    android:installLocation="auto"
    android:versionCode="11"
    android:versionName="2.0.1">

    <!-- installing in the SD Card kills the app process and services running below it and those services may not restart after mass storage -->

    <uses-sdk
        android:minSdkVersion="25"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->

    <application
        android:name=".application.HiuiApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:backupAgent=".application.backup.HiuiBackupAgentHelper">

        <!-- Datos necesarios para que funcione la API de BackUp de Android -->
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAI49P2SuUszgVicZfdPp8j_T52xea8i1hLLi_cxA" />

        <activity
        	android:name=".application.Main"
        	android:label="@string/app_name"
        	android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".widget.WidgetConfigure" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".statistics.Statistics"
            android:label="@string/statistics_title" android:exported="true">
        </activity>

        <activity
            android:name=".settings.Settings"
            android:label="@string/settings_title" android:exported="true">
       	</activity>

        <!-- Hay otro Receiver en la aplicación iniciado por código (OnOffReceiver) -->
        <receiver android:name=".widget.WidgetReceiver" >
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE"
                    android:enabled="true" />
                <action
                    android:name="android.intent.action.USER_PRESENT"
                    android:enabled="true" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/hiui_widget" />
        </receiver>

        <service
            android:name=".services.WidgetPersistentService"
            android:exported="false"
            android:icon="@drawable/ic_launcher"
            android:label="Hiui Persistent Service" />
    </application>

</manifest>